name: Deploy OmniStore via Bastion

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Copy project to Bastion
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.BASTION_PUBLIC_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "."
          target: "/home/ubuntu/omnistore"

      - name: Deploy from Bastion to Private EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.BASTION_PUBLIC_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e
            echo "Connecting to private EC2..."
            ssh -i ~/.ssh/omnistore-key -o StrictHostKeyChecking=no ubuntu@${{ secrets.EC2_PRIVATE_IP }} << 'EOF'
              cd /home/ubuntu/omnistore
              ./deploy.sh
            EOF

