      - name: Deploy from Bastion
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.BASTION_PUBLIC_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e
            cd /home/ubuntu/omnistore

            echo ">>> Using files provided by GitHub Actions"
            echo ">>> Deploying on private EC2"

            echo ">>> Rebuilding Docker image (no cache)"
            docker build --no-cache -t omnistore:latest .

            echo ">>> Restarting container"
            docker rm -f omnistore || true
            docker run -d -p 80:80 --name omnistore omnistore:latest

